## Semester 1 Project Submission

Please fill out:
* Student name: 
* Instructor name:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

Import all packages to be used

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Open dataframes

In [3]:
grossdf = pd.read_csv('../../data/bom.movie_gross.csv.gz')
#grossdf.head(5)

In [4]:
ratingdf = pd.read_csv('../../data/rt.movie_info.tsv.gz', sep='\t')
#ratingdf.head(5)

In [5]:
reviewdf = pd.read_csv('../../data/rt.reviews.tsv.gz', sep='\t', encoding='iso-8859-1')
#reviewdf.head(5)

In [6]:
tmdbmoviesdf = pd.read_csv('../../data/tmdb.movies.csv.gz')
#tmdbmoviesdf.head(5)

In [7]:
#ratingdf['id'].unique

In [8]:
budgetdf = pd.read_csv('../../data/tn.movie_budgets.csv.gz')
budgetdf.head(5)
#budgetdf.info()

#budgetdf['id'].unique

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [9]:
#ratingdf.info()

Merge Ratings and Budget Dataframes on ID, drop duplicates of ID

In [10]:
merged_df = pd.merge(ratingdf, budgetdf, on='id')
merged_df.drop_duplicates(subset='id', inplace=True)
merged_df.head(25)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
58,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
116,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
174,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
232,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
290,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
348,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
406,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
464,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
522,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
580,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
638,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
696,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
754,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
812,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
870,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
928,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
986,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
1044,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
1102,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
1160,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
1218,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
1276,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
1334,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN,"Jun 21, 2017",Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340"
1392,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864"

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81 entries, 0 to 4625
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 81 non-null     int64
 1   synopsis           78 non-null     object
 2   rating             80 non-null     object
 3   genre              80 non-null     object
 4   director           67 non-null     object
 5   writer             59 non-null     object
 6   theater_date       57 non-null     object
 7   dvd_date           57 non-null     object
 8   currency           19 non-null     object
 9   box_office         19 non-null     object
 10  runtime            78 non-null     object
 11  studio             27 non-null     object
 12  release_date       81 non-null     object
 13  movie              81 non-null     object
 14  production_budget  81 non-null     object
 15  domestic_gross     81 non-null     object
 16  worldwide_gross    81 non-null     object
dtypes: int64(1), object(16)
memory usage: 11.4+ KB

In [12]:
merged_df['worldwide_gross'] = merged_df['worldwide_gross'].replace('[\$,]', '', regex=True).astype("int64")

In [13]:
groupeddf = merged_df.groupby('genre')['worldwide_gross'].mean()

In [ ]:
plt.figure(figsize=(10,5))
groupeddf.plot(kind='bar')
plt.show()

In [ ]:
top_3 = groupeddf.nlargest(3)
top_3

In [ ]:
merged_df.dropna(subset=['runtime'], inplace=True)
merged_df['runtime'] = merged_df['runtime'].str.replace(' minutes', '').astype('int64')

In [ ]:
merged_df.plot(kind='scatter', x='runtime', y='worldwide_gross')
plt.show()

In [ ]:
grouped_df1 = merged_df.groupby('rating')['worldwide_gross'].mean()

grouped_df1.plot(kind='bar')
plt.show()

In [ ]:
merged_df['production_budget'] = merged_df['production_budget'].replace('[\$,]', '', regex=True).astype("int64")

In [ ]:
merged_df.plot(kind='scatter', x='production_budget', y='worldwide_gross')
plt.show()

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('../../zippedData/im.db')

In [ ]:
df = pd.read_sql_query("SELECT * FROM movie_basics", conn)

df

In [ ]:
df.rename(columns={'original_title':'movie'}, inplace=True)

In [ ]:
merged2 = pd.merge(df, budgetdf, on='movie')

In [ ]:
merged2

In [ ]:
merged2['production_budget'] = merged2['production_budget'].replace('[\$,]', '', regex=True).astype("int64")

In [ ]:
merged2['worldwide_gross'] = merged2['worldwide_gross'].replace('[\$,]', '', regex=True).astype("int64")

In [ ]:
merged2.head()

In [ ]:
grouped_df2 = merged_df.groupby('director')['worldwide_gross'].mean()

plt.figure(figsize=(10,5))
grouped_df2.plot(kind='bar')
plt.show()

In [ ]:
ttop_3 = grouped_df2.nlargest(10)
ttop_3

In [ ]:
merged_df.info()

In [ ]:
merged_df['profit'] = merged_df['worldwide_gross'] - merged_df['production_budget']

In [ ]:
merged_df

In [ ]:
grouped_df3 = merged_df.groupby('director')['profit'].mean()

In [ ]:
plt.figure(figsize=(10,5))
grouped_df3.plot(kind='bar')
plt.show()

Top 10 Directors by profit

In [ ]:
director_profit = grouped_df3.nlargest(10)
director_profit

In [ ]:
test1 = merged_df[merged_df['director'] == 'William Wellman']
test1

In [ ]:
test2 = merged_df[merged_df['director'] == 'Rodney Bennett']
test2

In [ ]:
test3 = merged_df[merged_df['director'] == 'Barry Levinson']
test3

In [ ]:
### End of Part

Group the profits by genre of movie and graph

In [ ]:
grouped_df4 = merged_df.groupby('genre')['profit'].mean()

In [ ]:
plt.figure(figsize=(10,5))
grouped_df4.plot(kind='bar')
plt.show()

In [ ]:
tttop_3 = grouped_df4.nlargest(10)
tttop_3

In [ ]:
# Hypothesis testing
from scipy.stats import ttest_ind

In [ ]:
# Define the two samples
action_movies = merged2[merged2['genres'] == 'Classics|Comedy|Musical and Performing Arts']['worldwide_gross']
all_movies = merged2['worldwide_gross']

# Perform the hypothesis test
t_statistic, p_value = ttest_ind(action_movies, all_movies)

print('t-statistic:', t_statistic)
print('p-value:', p_value)

In [ ]:
print(action_movies)

In [ ]:
all_movies

In [ ]:
merged2['worldwide_gross'].max()

In [ ]:
merged2[merged2['worldwide_gross'] == merged2['worldwide_gross'].max()]

In [ ]:
row

In [ ]:
merged_df[merged_df['genres'] == 'horror']['profit'].gt(0).mean() * 100